@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized Context="authContext">
                    <span class="me-3">
                        <i class="bi bi-person-circle"></i> @authContext.User?.Identity?.Name
                    </span>
                    <a href="MicrosoftIdentity/Account/SignOut">サインアウト</a>
                </Authorized>
                <NotAuthorized>
                    <a href="MicrosoftIdentity/Account/SignIn">サインイン</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
